<div id="location-redirect-message">
  <div id="message">
    <div class="redirect-header-div">
      {{ settings.redirect_from_message }} <span class="current-country"></span>. {{ settings.redirect_to_message }}? <a class="redirect-me" href="#">{{ settings.redirect_approve }}</a> or <a class="close-redirect-btn" href="#">{{ settings.redirect_decline }}</a>
    </div>
  </div>
</div>