<div id="stamped-reviews-widget" data-widget-type="site-badge" ></div>

{% schema %}
{
  "name": "Review Badge",
  "settings": [],
  "presets": [
    {
        "name": "Review Badge",
        "category": "StampedIO Plugins"
    }
  ]
}
{% endschema %}